<section id='abstract'>
 <p>
  The purpose of this test suite is to demonstrate a path to interoperability
  for <a href="https://w3c-ccg.github.io/vc-status-list-2021/">StatusList2021
  </a>.
  </p>
</section>
