<section id='abstract'>
 <p>
  The purpose of this test suite is to demonstrate a path to interoperability
  for <a href="https://w3c.github.io/vc-bitstring-status-list/">Bitstring Status
  List</a>.
  </p>
  <p>
    In addition to the test results below,
    <a href="https://github.com/w3c/vc-bitstring-status-list-test-suite/issues/61">Tradeverifyd has claimed</a>
    to have successfully implemented every feature, including the ability to
    host multiple statuses in a single list.
  </p>
</section>
