<section id='abstract'>
 <p>
  The purpose of this test suite is to demonstrate a path to interoperability
  for <a href="https://w3c.github.io/vc-bitstring-status-list/">Bitstring Status
  List</a>.
  </p>
  <p>
    In addition to the test results below,
    <a href="https://github.com/w3c/vc-bitstring-status-list-test-suite/issues/61">Tradeverifyd reports</a>
    a successful implemention of every feature, including the ability to
    host multiple statuses in a single list.
  </p>

  <style>
    /* The "At Risk" section is currently hidden due to
       Tradeverifyd's claim of support for every feature
    */
    .tocxref[href="#At Risk"],
    section#At\ Risk {
      display: none;
    }
    .at-risk {
      outline: none;
    }
  </style>
</section>
