<section id='abstract'>
 <p>
  The purpose of this test suite is to demonstrate a path to interoperability
  for <a href="https://w3c.github.io/vc-bitstring-status-list/">Bitstring Status
  List</a>.
  </p>
</section>
