<section id='abstract'>
 <p>
  The purpose of this test suite is to demonstrate a path to interoperability
  for <a href="https://w3c.github.io/vc-bitstring-status-list/">Bitstring Status
  List</a>.
  </p>
  <p>
    The
    <a href="https://github.com/w3c/vc-data-model-2.0-test-suite?tab=readme-ov-file#test-suite-http-api">test suite API</a>
    requires raw JSON responses such that implementations
    using VC JOSE/COSE or other enveloped response bodies are required to unwrap
    the envelopes prior to responsing. Consequently, in addition to the test
    results below,
    <a href="https://github.com/w3c/vc-bitstring-status-list-test-suite/issues/61">Tradeverifyd reports</a>
    a successful implemention of every feature, including the ability to
    host multiple statuses in a single list.
  </p>
</section>
